<div class="header">

<%= link_to image_tag("quickbit-logo.png", :border=>0, :class => 'header_image'), "/" %>
 <div class="alert_Rbrowser">
    <h3> We do not support your browser at this time </h3>
  </div>
</div>
<div class="container">

  <%= render '/status' %>
</div>
<div class="footer"></div>
