<div class="header">

<%= link_to image_tag("quickbit-logo.png", :border=>0, :class => 'header_image'), "/" %>
 </div>
 <div class="alert_browser">
    <h3> We do not support your browser at this time </h3>
</div>



<div class="reciever_view">
  <div class="status_view" >
    <%= render '/status' %>
  </div>
</div>
<div class="footer">
  <a href="/faq"> FAQ </a>
</div>

<%= javascript_include_tag "receiver_manifest" %>
