<div class="header"> 
<%= link_to image_tag("quickbit-logo.png", :border=>0, :class => 'header_image'), "/" %>
</div>
<div class="container">
 
  <%= render '/status' %>
</div>
<div class="footer"></div>