<div class="header">
  <%= link_to image_tag("quickbits_logo.svg", :border=>0, :class => 'header_image', :size => "253x61"), "/" %>
</div>
<div id="drop_zone">
  <div class="grid">
    <div class="alert_browser">
      <h3> We currently do not support this browser.  We recommend using <a href = http://www.mozilla.org/en-US/firefox/new/> Firefox.</a> </h3>
    </div>

    <div class="value_prop">
      <h1> Send a friend a file, without the cloud.</h1>
    </div>
    <div class="window_open" style="display:none">
      <h3>Keep Window Open Until Transfer is Complete</h3>
    </div>
    <div class="upload_button" >
      <div class="fileinputs" >
        <input type="file" class="file" id="file_input" />

        <div class="fakefile" >
          <input type="button" value="Upload a File" class="button_upload"/>
        </div>
      </div>





      <div class="status_view" style="display:none" >
        <%= render "/status" %>
      </div>


      <div class="give_url">

        <input type="text" name="url" value="" class="link_field" style="display:none" readonly="readonly" id="url" size="40" >

        <form id="copy_link_form" style="display:none">
          <input type="submit" value="Copy Link" id="submit_file" >
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="nav"><ul> <li>© 2013 Team Quickbits </li> <li>|</li><li><a href="/faq">FAQ</a><li>|</li><li><a href="https://github.com/Surram/quickbits">GitHub</a></li></ul>
    </div>
</div>

  <%= javascript_include_tag "file_sender" %>
