<div class="container">
  <h1> Quick Bits </h1>
  <div class="drop_zone">
  </div>

<input type="file" id="file_input">
<input type="text" name="url" value="" placeholder="http://quickbits.co/red-fox-runs" readonly="readonly" id="url" size="40">
<form id="copy_link_form">
  <input type="submit" value="Copy Link">
</form>

<%= render "/status" %>

</div>
