<div class="container">
  <h1> Quick Bits </h1>
  <div class="drop_zone">
  </div>

<input type="file" id="input">
<input type="text" name="url" value="" placeholder="http://quickbits.co/red-fox-runs" readonly="readonly" id="url" size="40">
<button>Copy link</button>


</div>
