<div class="header">
  <%= link_to image_tag("quickbits_logo.svg", :border=>0, :class => 'header_image', :size => "253x61"), "/" %>
</div>

<div class="faq_list">
<p><strong>How do I use Quickbits?</strong></p>
<ol>
<li>Just drag and drop or select a file you want to send to a friend.</li>
<li>A link will appear.  Send this link to whom ever you want to transfer the file to.</li>
<li>Once your friend enters the link into the browser the file will automatically begin transferring</li></ol>
<br>

<p><strong>Why do I need to keep my browser open when I send a file?</strong></p>
<li>Once you create a link, a connection is opened. This connection is temporary and associated with the specific file you select. If you close your browser the link becomes invalid and the file will not be transferred.</li>
<br>

<p><strong>Can I drag and drop an entire folder?</strong></p>
<li>No. At present Quickbits is only set up to send one file at a time.</li>
<br>

<p><strong>Why is this better than email?</strong></p>
<li>Email is usually limited to files less than 25MB</li>
<li>Your email provider will store your private information</li>
<li>Email file transfer is significantly slower</li>
<li>You must know the email address of the receiver</li>
<br>

<p><strong>How is this different from Dropbox and Yousendit?</strong></p>
<li>Quickbits does not store your files or information. In fact, Quickbits has no database at all</li>
<li>Services like Dropbox require you to upload a file directly to their server, and only once the file has finished uploading can your friend begin downloading</li>
<li>Quickbits connects you directly to your friend, allowing for much quicker file transfer</li>
<br>

<p><strong>Why do you only support Firefox?</strong></p>
<li>Since the technology that powers Quickbits - <a href=http://www.webrtc.org/>WebRTC</a> - is relatively new, most browsers do not yet fully support it. We are working to bring support to Chrome as soon as possible.</li>
<br>

<p><strong>Do you store any data?</strong></p>
<li>Quickbits is strongly against storing any user data. Our site does not even have a database!</li>
<li>The information necessary to route your URL is destroyed as soon as the link creator disconnects/closes their tab.</li>
<br>

<p><strong>Who are you?</strong></p>
<li>We are five students at <a href=http://www.devbootcamp.com>Dev Bootcamp</a>, and Quickbits is our final project in the course</li>
<li><a href= https://github.com/ctailor2>Chirag Tailor</a></li>
<li><a href=https://github.com/ckampfe>Clark Kampfe</a></li>
<li><a href=http://jakekoten.com/>Jake Koten</a> </li>
<li><a href=http://www.hadlock.co>Nathan Hadlock </a></li>
<li>Kent Carmine</li>
<br>

<p><strong>Why are you so excited about this technology?</strong></p>
<li>We feel that WebRTC will significantly change the way we interact with one another through video, audio, text chat, and file sharing</li>
<li>Google has a few interesting talks on the subject. Watch them <a href=http://www.youtube.com/watch?v=E8C8ouiXHHk>here</a></li>
<br>

<p><strong>Where can I report a bug?</strong></p>
<li>We are committed to the continual improvement of this tool. Thank you for taking the time to give us feedback!</li>
<li>Any comments, bug reports or great jokes can be sent to <a href="mailto:team@quickbits.co">team@quickbits.co</a></li>
<br>

<p><strong>Can I copy your code?</strong></p>
<li>Yes, Quickbits is licensed under the <a href=http://choosealicense.com/licenses/agpl/>GNU Affero General Public License</a>. Please feel free to use this code for your own project.  Our github can be found <a href=https://github.com/Surram/quickbits/>Here</a></li>
</div>
