/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*require '/vendor/assets/normalize.css'
*/



/*Reset* /
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





/*    phones and tablets   */

@media screen and (max-device-width: 992px){
body{
    margin: 0 0 0 0;
    padding: 0;
}

.header {
    background-color: #f6f8f8;
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    height: 90px;
    border-bottom: 1px solid #ced3d5;

}

.header img {
  padding: 10px;
}

.footer  {
          height: 0;
          margin: 0 0 0 0;
          padding: 0;
          bottom: 0;
          background-color: #f6f8f8;
           width: 100%;
           
}


.grid {
      
              
}

.col-1 {
      float: left;
      min-width: 360px;      
      height: 360px; 
      background-color: blue;


}

.col-2 {
        float: left;
        width: 0%;
        margin-right: 0;

}

.status p {
  display: block;
  width: 240px;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px inset #446;
  border-radius: 5px;
}



}



/* Desktop when @ less than 980 */

@media screen and (max-width: 980px) {

body{
    margin: 0 0 0 0;
    padding: 0;
}

.header {
    background-color: #f6f8f8;
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    height: 90px;
    border-bottom: 1px solid #ced3d5;

}

.header img {
  padding: 10px;
}

.footer  {
          height: 100px;
          position: absolute;
          bottom: 0;
          background-color: #f6f8f8;
           width: 100%;
           border-top: 1px solid #ced3d5;
}


.grid {
      
              
}

.col-1 {
      display: none; 
     

}

.col-2 {
         float: left;
      width: 50%;      
      height: 360px; 
      margin: 0 0 0 0;
        padding: 0;
        

}

#drop_zone {
  border-style: dashed; 
  width: 90%;
  border: 1px dashed #df775d;
  margin: 30px;
  height: 200px;
  padding: 40px;
}

.status p {
  display: block;
  width: 240px;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px inset #446;
  border-radius: 5px;
}
}


/*Desktop open to great than 980 px  */

body{
    margin: 0 0 0 0;
    padding: 0;
}

h1 {
font-size: 48.18181610107422px;
font-weight: 300;
height: 116.36363220214844px;
margin-bottom: 48px;
margin-left: 0px;
margin-right: 0px;
margin-top: 30px;
text-align: center;
width: 509.04827880859375px;
}

p {
    font-family: 'Montserrat', Helvetica,  Arial,  sans-serif;
    font-size: 15px;
    line-height: 1.65em;
    font-weight: 400;
}

.text_area {
  position: relative;
  color: #6d767a;
}

.header {
    background-color: #f6f8f8;
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    height: 90px;
    border-bottom: 1px solid #ced3d5;

}

.header img {
  padding: 10px;
}

.footer  {
          height: 100px;
          position: absolute;
          bottom: 0;
          background-color: #f6f8f8;
           width: 100%;
           border-top: 1px solid #ced3d5;
}


.grid {
      
              
}

.col-1 {
      float: left;
      min-width: 360px;      
      height: 360px; 


}

.col-2 {
        padding: 40px;
        float: left;
        width: 40%;
       

}

#drop_zone {
  border-style: dashed; 
  width: 480px;
  border: 1px dashed #df775d;
  margin: 20px;
   padding: 40px;
  margin: auto;
  
}

.status p {
  display: block;
  width: 240px;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px inset #446;
  border-radius: 5px;
  margin: 0 auto;
}



/*  The Button*/

#submit_file {

  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-family: 'Montserrat', sans-serif, Arial;
  color: #ffffff;
  font-size: 14px;
  background: #df775d;
  text-decoration: none;
}

#submit_file:hover {
  background: #df775d;
  text-decoration: none;
}



/*Styling input fle */

div.fileinputs {
            margin-left: 200px;
            position: relative;
        }

        div.fakefile {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        }

        div.fakefile input[type=button] {
            /* enough width to completely overlap the real hidden file control */
            cursor: pointer;
            width: 148px;
            -webkit-border-radius: 10;
            -moz-border-radius: 10;
            border-radius: 10px;
             height: 40px;
            font-family: 'Montserrat', sans-serif, Arial;
            color: #ffffff;
            font-size: 14px;
            background: #df775d;
            text-decoration: none;

        }

        div.fileinputs input.file {
            position: relative;
            text-align: right;
            -moz-opacity:0 ;
            filter:alpha(opacity: 0);
            opacity: 0;
            z-index: 2;

        }
