<div class="status">
  <p>File being transferred: <div id="file_name"></div>
  <p>  Status:
  <div id="progress_bar">
    <div class="percent">
      0%
    </div>
  </div>
  </p>

  <p id="error_message"></p>
</div>




