<div class="status">
  <div class="receiver_fakefile" >
    <a href = "/" ><input type="button" value="Upload a File" class="button_upload" style="display:none"/> </a>
  </div>
  <div id="progress_bar">
    <div class="percent">
      0%
    </div>
  </div>
  <p class="file_name"></p>
  <p class="file_size"></p>
  <p id="error_message"></p>

</div>




