<!-- 
  CODE REVIEW: usually templates don't live at the root of views.
  Actually I'm surprised this works. I would make a `shared` folder
  within views or something that has more semantic meaning.
-->

<div class="status">
  <p>Status: </p>
</div>

<p>File successfully transferred (or other status information)</p>
