<div class="status">
  <p>File being transferred: <p class="file_name"></p></p>
  <p>File size: <p class="file_size"></p></p>
  <p>  Status:
  <div id="progress_bar">
    <div class="percent">
      0%
    </div>
  </div>
  </p>

  <p id="error_message"></p>
</div>




